@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&family=Qwitcher+Grypen:wght@400;700&display=swap');
 
:root {
    --bg-color:#3ABEF9;
--primary-color:#A7E6FF;
 --secundary-color:#5B99C2;
 
}
